.wrapper {
  padding-top: 150px;
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.intro {
  background-image: url("/assets/images/Skottie-YoungBG.png");
  margin: 0 auto;
}
